// @media @mobile
.container {
  @media @mobile {
    width: 85%;
    justify-content: center;
  }
}

.intro {

  border-bottom: 2px dashed silver;

  @media @mobile {
    border-bottom: 2px dashed silver;
  }

}

.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }

      @media @mobile {
        width: 100%;
      }
    }

    @media @mobile {
      flex-direction: column;
      width: 95%;
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    @media @mobile {
      flex-direction: column-reverse;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    @media @mobile {
      width: 95%;
      margin: 0 auto;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn {
        display: flex;
        justify-content: center;
        vertical-align: center;
        .btns(50px,200px,8px);

        @media @mobile {
          width: 75%;
          .btns(50px,400px,8px);
        }
      }

      @media @mobile {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
        vertical-align: center;
        text-align: center;
      }
    }

    @media @mobile {
      flex-direction: column;
    }
  }
}// home