// Mixins in here
.btns(@ht,@wd,@border-rounding){
    height: @ht;
    width: @wd;
    color: white;
    background-color: teal;
    border: 1px teal;
    border-radius: @border-rounding;
}

// use .btns(50,200,8px); for starters