// Navigation Styles here
header {
    border-bottom: 2px dashed silver;

    nav {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        .links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 40%;
            font-size: 15px;
        }

    }
}